@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --accent-color: #e54065;
  --base-bg-color: #f4f5f9;
  --border-color: #cfd2dc;
  --text-color: #636363;
  --filter-button-bg-color: #e1e4ea;
  --read-bg-color: #f2f2f2;
}

body {
  background-color: var(--base-bg-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 40px;
}

.filter-container {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-heading {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
